.item{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .items{
    margin-top: 35px;
    margin-bottom: 60px;
    display:flex;
    flex-direction: column;
    gap:35px;
  }
  
  .imageContainer{
    flex:1;
    aspect-ratio:1/1;
    position:relative;
    
  }
  .image{
    border-radius:50%;
    border:3px solid lightgray;
  }
  .category{
    padding : 3px 8px;
    border-radius: 10px;
    font-size:12px;
    color: white;
  }
  .category.travel{
    background-color: #ff7857;
  }
  .category.food{
    background-color: green;
  }
  .category.culture{
    background-color: red;
  }
  .textContainer{
    flex:4;
    margin-bottom:50px;
  }
  .postTitle{
    font-size:18px;
    font-weight:500;
  
  }
  .detail{
    font-size:12px;
  }
  .date{
    color:gray
  }